@{ 
    var data = ViewData["Story"] as List<Character>;
}

<table>
    @foreach (var item in data)
    {
    <tr>
        <td>@item.Id</td>
        <td>@item.Age</td>
        <td>@item.Name</td>
        <td>@item.Story</td>
        <td>@item.StoryId</td>
    </tr>
    }
</table>

<p>Character are going to be displayed here</p>